@import "_null";
@import "_mixins";

/* 
&display=swap
*/
@import url("https://fonts.googleapis.com/css?family=Caveat:regular,500,600,700");


// ======================

[class*="__container"] {
	max-width: 1330px;
	margin: 0 auto;
	padding: 0 15px;
}

.header {
	// .header__container
	&__container {
		display: flex;
		padding-top: 34px;
	}
	// .header__item
	&__item {
		flex: 0 1 33.33%;
		display: flex;
		justify-content: center;
	}
	&__item_first {
		justify-content: space-between;
		
	}

	
}

.burger {
	position: relative;
	display: inline-block;
	width: 25px;
	height: 2px;
	background-color: #fff;
	
	// display: none;
	
	&::before {
		content: "";
		width: 25px;
		height: 2px;
		background-color: #fff;
		position: absolute;
		left: 0;
		top: 10px;
	}
	&::after {
		content: "";
		width: 25px;
		height: 2px;
		background-color: #fff;
		position: absolute;
		left: 0;
		top: -10px;
	}
}

.page {
	font-family: 'SF Pro Display';
	font-weight: 700;
	font-size: 18px;
	line-height: 21px;
	color: #FFFFFF;
}
.logo {
	// .main__text
	&__text {
		font-family: 'Caveat';
		font-weight: 700;
		font-size: 46px;
		line-height: 58px;
		color: #FFFFFF;
		transform: translateY(-25%);
		position: relative;
		z-index: 91;

		&::before {
			content: "";
			display: inline-block;
			position: absolute;
			width: 100%;
			height: 100%;
			left: 0;
			top: 0;
			background: #3531A9;
			transform: rotate(-30deg) translateY(10%);
			border-radius: 50%;
			z-index: -1;
		}
	}
}
.icons {
	&__item img{
		background: #4303A4;
		border-radius: 50%;
		padding: 3px;
		margin-right: 24px;
	}
}

//  =============== NIGHT

.night {
	padding-top: 245px;
	padding-bottom: 580px;
	background: url('../img/main-bg.jpg') center / cover no-repeat;
	// .night__container
	&__container {
	}
	// .night__header
	&__header {
		font-family: 'SF Pro Display';
		font-weight: 700;
		font-size: 64px;
		line-height: 76px;
		color: #FFFFFF;
	}
	// .night__subheader
	&__subheader {
		font-family: 'SF Pro Display';
		font-weight: 500;
		font-size: 36px;
		line-height: 43px;
		color: #FFFFFF;
		max-width: 535px;
		margin-bottom: 15px;
	}
}
.btn {
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 13px;
	max-width: 180px;
	background: #3531A9;
	border-radius: 10px;
	// .btn__icon
	&__icon {
		margin-right: 8px;
	}
	// .btn__body
	&__body {
	}
	// .btn__text
	&__text {
		font-family: 'SF Pro Display';
		font-size: 12px;
		line-height: 14px;
		color: #FFFFFF;
		&_main {
			font-size: 18px;
			line-height: 21px;
		}
	}
}

// =============== Plans

.plans {
	padding: 170px 0;
	// .plans__container
	&__container {
		// display: grid;
		// grid-template-columns: 1fr 1fr 1fr;

		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		@media (max-width:900px) {
			flex-direction: column;
			flex: 0 0 auto;
			row-gap: 30px;
			max-width: 600px;
		}
		// gap: 100px;
		max-width: 1070px;
	}
}

.card {
	flex: 0 1 275px;

	padding: 55px 18px 35px 18px;
	background: linear-gradient(180deg, #3531A9 0%, #4303A4 100%);
	border-radius: 20px;
	min-width: 275px;
	display: flex;
	flex-direction: column;
	*:not(:last-child) {
		margin-bottom: 12px;
	}
	
	&__body {
		
	}
	// .card__icon
	&__icon {
		text-align: center;
	}
	// .card__title
	&__title {
		font-family: 'SF Pro Display';
		font-size: 30px;
		line-height: 35px;
		color: #FFFFFF;
		text-align: center;
	}
	// .card__text
	&__text {
		font-family: 'SF Pro Display';
		font-size: 16px;
		line-height: 19px;
		color: #FFFFFF;
		flex-grow: 1;
	}
	// .card__price
	&__price {
		font-family: 'SF Pro Display';
		font-size: 36px;
		line-height: 42px;
		text-align: center;
		color: #FFFFFF;
	}
}


// ========== Listen

.listen {
	display: flex;
	// .listen__item
	&__item {
		flex: 0 1 50%;
		background: #271666;

		&_img img{
			width: 100%;
		}

		@media (max-width: 900px) {
			
		}
	}

	@media (max-width: 900px) {
		flex-direction: column;
		// align-items: center;
	}
}

.left {
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;

	&__container {
		
	}

	// .left__header
	&__header {
		font-family: 'SF Pro Display';
		font-weight: 700;
		font-size: 48px;
		line-height: 45px;
		color: #FFFFFF;
		max-width: 430px;
		margin-bottom: 11px;

		@media (max-width:950px) {
			font-size: 30px;
		}
	}
	// .left__text
	&__text {
		font-family: 'SF Pro Display';
		font-weight: 400;
		font-size: 16px;
		line-height: 19px;
		color: #FFFFFF;
		max-width: 380px;
		margin-bottom: 22px;

		@media (max-width:950px) {
			font-size: 16px;
		}
	}
	// .left__btn
	&__btn {
		display: inline-block;
		font-family: 'SF Pro Display';
		font-size: 18px;
		line-height: 21px;
		color: #FFFFFF;
		padding: 10px 15px;
		background: #3531A9;
		border-radius: 5px;

		@media (max-width: 900px) {
			margin-bottom: 10px;
		}
	}

	
}


// =============== hear

.hear {
	padding-top: 113px;
	// .hear__container
	&__container {
	}
	// .hear__body
	&__body {
		text-align: center;
	}
	// .hear__header
	&__header {
		font-family: 'SF Pro Display';
		font-weight: 700;
		font-size: 48px;
		line-height: 45px;
		color: #FFFFFF;
		margin-bottom: 7px;
	}
	// .hear__text
	&__text {
		display: inline-block;
		font-family: 'SF Pro Display';
		font-weight: 400;
		font-size: 16px;
		line-height: 19px;
		color: #FFFFFF;
		margin-bottom: 66px;
		max-width: 617px;
	}
	// .hear__img
	&__img {
		margin-bottom: 233px;
	}

	&__img img{
		max-width: 100%;
	}
}

// =========== mobile

.mobile {
	// .mobile__container
	&__container {
	}
	// .mobile__body
	&__body {
		display: flex;
		align-items: center;
		margin-bottom: 200px;

		@media (max-width:640px) {
			flex-direction: column;
			row-gap: 20px;
		}
	}
	// .mobile__item
	&__item {
		flex: 0 1 50%;
	}
	// .mobile__header
	&__header {
		font-family: 'SF Pro Display';
		font-weight: 700;
		font-size: 48px;
		line-height: 45px;
		color: #FFFFFF;

		@media (max-width:1024px) {
			font-size: 36px;
		}

		@media (max-width:760px) {
			font-size: 25px;
		}

		@media (max-width:400px) {
			font-size: 16px;
		}
	}
	&__text {
		font-family: 'SF Pro Display';
		font-weight: 400;
		font-size: 16px;
		line-height: 19px;
		color: #FFFFFF;

		@media (max-width:640px) {
			font-size: 12px;
		}
	}
	// .mobile__img
	&__img {
		display: flex;
		justify-content: center;
		position: relative;

		&::before {
			content: '';
			width: 144px;
			height: 299px;
			background: url('../img/mobile.png') 0 0 / cover no-repeat;
			
			position: absolute;
			left: 0;
			top: 80px;
			z-index: 90;
			max-width: 100%;

			@media (max-width:1000px) {
				background-size: 80%;
			}

			@media (max-width:800px) {
				background-size: 60%;
			}

			@media (max-width:640px) {
				background-size: 100%;
			}

			@media (max-width:500px) {
				background-size: 80%;
			}

			@media (max-width:400px) {
				background-size: 60%;
			}

			@media (max-width:370px) {
				background-size: 40%;
			}
		}
	}
	&__img img{
		opacity: 0.7;
		border-radius: 20px;
		overflow: hidden;
		max-width: 100%;
	}
}

// =============== footer

.footer {
	background: #11024B;
	padding-top: 160px;
	padding-bottom: 126px;
	// .footer__container
	&__container {
	}
	// .footer__body
	&__body {
		display: grid;
		grid-template-columns: 1fr 1fr 2fr 1fr 1fr;
		gap: 30px;

		@media (max-width:900px) {
			display: flex;
			flex-direction: column;
			align-items: center;
			text-align: center;
		}
	}
	// .footer__item
	&__item {
		
	}
	// .footer__list
	&__list {
	}

	@media (max-width:900px) {
		padding: 20px 0;
	}
}

@media (max-width:900px) {
	.footer__item .logo {
		display: none;
	}
}


.list-footer {

	&__item:not(:last-child) {
		margin-bottom: 20px;
	}
	
	// .list-footer__item
	&__item a {
		
		font-family: 'SF Pro Display';
		font-weight: 400;
		font-size: 18px;
		line-height: 21px;
		color: #FFFFFF;
	}

	&__item_first a {
		color: #3531A9;
	}
}


.copyright {
	font-family: 'SF Pro Display';
	font-size: 10px;
	line-height: 12px;
	color: #C4C4C4;
	background: #09002B;
	text-align: center;
	padding: 10px 0;
}

.burger {
	display: none;
}

@media (max-width:620px) {
	.icons__item a,
	.header__item_first a{
		display: none;
	}

	.header__item_second {
		justify-content: end;
	}
	
	.night__subheader {
		font-size: 20px;
	}
	
	.night__header {
		font-size: 40px;
	}

	.burger {
		display: block;
	}

	
	.burger__menu.active {
		display: block;
		position: absolute;
		left: 0;
		top: 0;
		height: 100%;
		width: 100%;
		z-index: 1000;
		background-color: rgb(27, 27, 27);
	}

	.burger__list {
		display: flex;
		flex-direction: column;
		margin: 20px;
	}

	.header__item {
		// display: block;
		// flex-direction: column;
		// row-gap: 20px;
	}

	.burger__item {
		display: inline-block;
	}

	.burger__item:not(:last-child) {
		margin-bottom: 20px;
	}
	
}



.burger__menu {
	display: none;
}

.burger__item {

	color: #fff;
	display: block;
	// width: 100%;
	// height: 100px;
}

.burger__item a {
	display: block;
	font-family: 'SF Pro Display';
	font-weight: 700;
	font-size: 18px;
	line-height: 21px;
	color: #FFFFFF;
}





